.menu__area {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.menu__area li:hover {
  background: hsl(0, 0%, 71%);
  border-radius: 5px;
}
.menu__area > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: #3c3c3c;
  color: white;
  border-radius: 10px;
}
.menu__area > ul > li {
  position: relative;
  cursor: pointer;
  font-family: poppins;
  font-size: 14px;
  letter-spacing: 1px;
  float: left;
  width: 136px;
  height: 50px;
  line-height: 50px;
}
.dropdown {
  display: none;
}
.dropdown :hover {
}
.menu__area li:hover > .dropdown {
  display: table;
  background: aliceblue;
  border-radius: 10px;
  z-index: 100;
}
